<section id="footer">
  <div class="container">
    <div class="footer">
      <div class="footer-up">
        <div class="footer-name">
          <h2>
            <span class="text-orange">Chocolate</span> a delicious <br />
            cure for a bad day
          </h2>
        </div>
        <address class="footer-contacts">
          <div class="footer-contacts-block">
            <p>Contact us</p>
            <ul class="footer-contacts-list">
              <li class="footer-contacts-item">
                <a class="footer-contacts-link" href="tel:+380684439426"
                  >+380 (68) 443-94-26</a
                >
              </li>
              <li class="footer-contacts-item">
                <a class="footer-contacts-link" href="mailto:simplychoc@gmail.com"
                  >simplychoc@gmail.com</a
                >
              </li>
            </ul>
          </div>

          <div class="footer-social">
            <ul class="footer-social-list">
              <li class="footer-social-item">
                <a
                  class="footer-social-link"
                  target="_blank"
                  href="https://www.instagram.com/"
                >
                  <svg class="footer-social-icon">
                    <use href="./images/icons.svg#icon-instagram"></use>
                  </svg>
                </a>
              </li>
              <li class="footer-social-item">
                <a
                  class="footer-social-link"
                  target="_blank"
                  href="https://twitter.com/"
                >
                  <svg class="footer-social-icon">
                    <use href="./images/icons.svg#icon-twitter"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        </address>
      </div>
      <div class="footer-nav">
        <ul class="footer-nav-list">
          <li class="footer-nav-item">
            <a href="../index.html" class="footer-nav-link">Home</a>
          </li>
          <li class="footer-nav-item">
            <a href="#made-section" class="footer-nav-link">How it's made?</a>
          </li>
          <li class="footer-nav-item">
            <a href="#products" class="footer-nav-link">Our products</a>
          </li>
          <li class="footer-nav-item">
            <a href="#sellers" class="footer-nav-link">Top sellers</a>
          </li>
          <li class="footer-nav-item">
            <a href="#chocolate" class="footer-nav-link">Chocolate is loved</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>