<header class="header">
  <div class="container header-container">
    <div class="header-logo">
      <a href="" class="header-logo-link link">
        <span class="header-logo-simply">SIMPLY</span> CHOCOLATE
      </a>
      <svg class="header-logo-icon" width="24px" height="24px">
        <use href="./images/sprite.svg#icon-logochoco-desktop"></use>
      </svg>
    </div>
    <button type="button" class="header-btn-mobile js-open-menu">
      <svg class="mobile-btn-open" width="28px" height="28px">
        <use href="./images/icons.svg#icon-menu-icon"></use>
      </svg>
    </button>
    <div class="header-navigation js-menu-container">
      <button type="button" class="header-btn-mobile-close js-close-menu">
        <svg class="mobile-icon-close" width="28px" height="28px">
          <use href="./images/icons.svg#icon-x-close"></use>
        </svg>
      </button>
      <div class="header-sections">
        <ul class="header-sections-list list">
          <li class="header-sections-item">
            <a href="" class="header-sections-link link">Home</a>
          </li>
          <li class="header-sections-item">
            <a href="#made-section" class="header-sections-link link">How it's made?</a>
          </li>
          <li class="header-sections-item">
            <a href="#products" class="header-sections-link link"
              >Our products</a
            >
          </li>
          <li class="header-sections-item">
            <a href="#sellers" class="header-sections-link link">Top sellers</a>
          </li>
          <li class="header-sections-item">
            <a href="#chocolate" class="header-sections-link link"
              >Chocolate is loved</a
            >
          </li>
        </ul>
      </div>
      <div class="header-social">
        <ul class="header-social-list list">
          <li class="header-social-item">
            <a href="https://www.instagram.com/" target="_blank" class="header-social-link link">
              <svg class="header-social-icon" width="24px" height="24px">
                <use
                  href="./images/sprite.svg#icon-instagram-desktop-tablet"
                ></use>
              </svg>
            </a>
          </li>
          <li class="header-social-item">
            <a href="https://twitter.com/" target="_blank" class="header-social-link link">
              <svg class="header-social-icon" width="24px" height="24px">
                <use
                  href="./images/sprite.svg#icon-twitter-desktop-tablet"
                ></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
