<div class="buynow-backdrop is-hidden" data-modal-buynow>
    <div class="modal-buy-now">
        <button class="modal-buy-now-close-button" type="button" data-modal-close-buynow>
            <svg class="modal-buy-now-close-button-icon" width="24" height="24">
                <use href="/images/sprite.svg#icon-x-close"></use>
            </svg>
        </button>
        <h2 class="modal-buy-now-title"><span class="top">Buy</span> now</h2>
        <ul class="modal-buy-choice list">
            <li class="modal-buy-choice-item">
                <picture class="picture">
                    <source srcset="
                          ./images/JPEG/orderone-mobile.jpg    1x,
                          ./images/JPEG/orderone-mobile@2x.jpg 2x
                      " media="(min-width:320px)" />
                    <source srcset="
                          ./images/JPEG/orderone-desctop-tablet.jpg 1x,
                          ./images/JPEG/orderone-desctop-tablet.jpg 2x
                      " media="(min-width:768px)" />
                    <img class="modal-buy-choice-img" src="./images/JPEG/orderone-desctop-tablet.jpg"
                        alt="dark choco" />
                </picture>
                <button class="modal-buy-now-choice-button" type="button">
                    100 g
                </button>
            </li>
            <li class="modal-buy-choice-item">
                <picture>
                    <source srcset="
                          ./images/JPEG/ordertwo-mobile.jpg    1x,
                          ./images/JPEG/ordertwo-mobile@2x.jpg 2x
                      " media="(min-width:320px)" />
                    <source srcset="
                          ./images/JPEG/ordertwo-desctop-tablet.jpg    1x,
                          ./images/JPEG/ordertwo-desctop-tablet.jpg 2x
                      " media="(min-width:768px)" />
                    <img class="modal-buy-choice-img" src="./images/JPEG/ordertwo-desctop-tablet.jpg"
                        alt="white and milk choco" />
                </picture>
                <button class="modal-buy-now-choice-button" type="button">
                    200 g
                </button>
            </li>
            <li class="modal-buy-choice-item">
                <picture>
                    <source srcset="
                          ./images/JPEG/orderthree-mobile.jpg    1x,
                          ./images/JPEG/orderthree-mobile@2x.jpg 2x
                      " media="(min-width:320px)" />
                    <source srcset="
                          ./images/JPEG/orderthree-desctop-tablet.jpg    1x,
                          ./images/JPEG/orderthree-desctop-tablet.jpg 2x
                      " media="(min-width:768px)" />
                    <img class="modal-buy-choice-img" src="./images/JPEG/orderthree-desctop-tablet.jpg"
                        alt="choco bar" />
                </picture>
                <button class="modal-buy-now-choice-button" type="button">
                    300 g
                </button>
            </li>
        </ul>
        <form class="modal-buy-now-form">
            <span class="modal-buy-now-form-input-personalinfo">
                <label class="modal-buy-now-form-field">
                    <span class="modal-buy-now-form-input-desc">Personal information
                    </span>
                    <span class="modal-buy-now-form-input-wrapper">
                        <input type="text" name="user_name" class="modal-buy-now-form-input" required placeholder="Name"
                            pattern="^[a-zA-Zа-яА-ЯіІїЇ]+$" minlength="2" autocomplete="off" />
                    </span>
                </label>
                <label class="modal-buy-now-form-field">
                    <span class="modal-buy-now-form-input-wrapper">
                        <input type="text" name="user_surname" class="modal-buy-now-form-input-surname" required
                            placeholder="Surname" pattern="^[a-zA-Zа-яА-ЯіІїЇ]+$" minlength="2" autocomplete="off" />
                    </span>
                </label>
            </span>
            <label class="modal-buy-now-form-field">
                <span class="modal-buy-now-form-input-desc">Email</span>
                <span class="modal-buy-now-form-input-wrapper">
                    <input type="email" name="user_email" class="modal-buy-now-form-input" required
                        placeholder="Enter your email" autocomplete="off" />
                </span>
            </label>
            <label class="modal-buy-now-form-field">
                <span class="modal-buy-now-form-input-desc">Phone number</span>
                <span class="modal-buy-now-form-input-wrapper">
                    <input type="tel" name="user_phone" class="modal-buy-now-form-input-phone" required
                        placeholder="Phone number" pattern="[0-9]{3}-[0-9]{3}-[0-9]{2}-[0-9]{2}" title="xxx-xxx-xx-xx"
                        autocomplete="off" />
                    <svg class="modal-buy-now-form-input-iconUA" width="32" height="24">
                        <use href="./images/sprite.svg#icon-IconUA"></use>
                    </svg>
                    <span class="code">+380</span>
                </span>
            </label>
            <label class="modal-buy-now-form-field">
                <span class="modal-buy-now-form-input-desc">Card number</span>
                <span class="modal-buy-now-form-input-wrapper">
                    <input type="tel" name="user_phone" class="modal-buy-now-form-input" required
                        placeholder="Enter  card" pattern="[0-9]{4}-[0-9]{4}-[0-9]{4}-[0-9]{4}" maxlength="19"
                        title="xxxx-xxxx-xxxx-xxxx" />
                    <svg class="modal-buy-now-form-input-iconMastercard" width="30" height="18">
                        <use href="./images/sprite.svg#icon-Mastercard"></use>
                    </svg>
                </span>
            </label>
            <label class="modal-buy-now-form-field">
                <span class="modal-buy-now-form-input-desc">Comment</span>
                <textarea name="user_message" class="modal-buy-now-form-message" placeholder="Enter text"></textarea>
            </label>
            <button type="submit" class="modal-buy-now-submit-button">Submit</button>
        </form>
    </div>
</div>