<div class="container">
    <div  class="backdrop-review is-hidden " data-modal-review >
      <div class="review-modal">
        <button class="btn-close " data-modal-close-review >
          <svg class="btn-clo">
            <use href="./images/sprite.svg#icon-close-button"></use>
          </svg>
        </button>
        <div class="modal-form">
          <p class="text-modal">LEAVE A REVIEW ABOUT <span class="modal-review-h">OUR CHOCOLATE</span></p>
          <form>
            <div class="form-field">
              <label for="name"></label>
              <input
                class="input-form"
                id="name"
                placeholder="Name"
              />
            </div>
            <div class="form-field">
              <label for="email"></label>
              <input
                class="input-form"
                id="email"
                placeholder="Email"
              />
            </div>
            <div class="form-field">
              <label for="tel"></label>
              <input
                class="input-form phone"
                type="tel"
                id="tel"
                placeholder="Phone number"
              />
         <div class="span-review">
                <svg class="svg-iconua" width="32" height="24">
                  <use href="./images/sprite.svg#icon-IconUA"></use></svg>
                  <span class="namber-review">+380</span>
         </div>
            </div>
            <div class="form-comment">
              <label for="Comment"></label>
              <textarea
                class="textarea-form"
                name="textplace-form"
                id="Comment"
                cols="30"
                rows="10"
                placeholder="Enter text"
              ></textarea>
            </div>
            <button class="button-send-review" type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  