<div class="subscribe-backdrop is-hidden" data-modal-subscribe>
    <div class="subscribe-modal">
        <img src="./images/Pop Up/popup-desk-tab.webp" alt=""
            class="subscribe-modal-image">
        <button type="button" class="subscribe-btn-close-modal" data-modal-close-subscribe>
            <svg class="subscribe-btn-icon">
                <use href="./images/sprite.svg#icon-close-button"></use>
            </svg>
        </button>
        <div class="subscribe-form-block">
            <h3 class="subscribe-form-title">Explore our <br>
                <span class="subscribe-accent-text">new chocolate </span>
                first!
            </h3>
            <form action="#" class="subscribe-form">
                <input class="subscribe-input" type="text" name="your-email" placeholder="Enter your email">
                <button type="Submit" class="subscribe-btn-submit">Submit</button>
            </form>
        </div>
    </div>
</div>