<section class="our-products" id="products">
  <div class="container products-container">
    <h2 class="products-title">OUR <span>PRODUCTS</span></h2>
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <picture class="products-image">
            <source
              srcset="
                ./images/our-products/orange-min.jpg    1x,
                ./images/our-products/orange@2x-min.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/our-products/orange.webp    1x,
                ./images/our-products/orange@2x.webp 2x
              "
              type="image/webp"
            />
            <img
              src="./images/our-products/orange-min.jpg"
              alt="ORANGE"
              width="230"
              height="201"
            />
          </picture>
          <div class="products-content">
            <h3 class="products-subtitle">ORANGE</h3>
            <p class="products-text">Dark chocolate</p>
          </div>
          <button type="button" class="products-price-btn button">
            45 UAH
          </button>
        </div>
        <div class="swiper-slide">
          <picture class="products-image">
            <source
              srcset="
                ./images/our-products/apple-cranberry-min.jpg    1x,
                ./images/our-products/apple-cranberry@2x-min.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/our-products/apple-cranberry.webp    1x,
                ./images/our-products/apple-cranberry@2x.webp 2x
              "
              type="image/webp"
            />
            <img
              src="./images/our-products/apple-cranberry-min.jpg"
              alt="APPLE&CRANBERRY"
              width="230"
              height="201"
            />
          </picture>
          <div class="products-content">
            <h3 class="products-subtitle">APPLE&CRANBERRY</h3>
            <p class="products-text">Milk chocolate</p>
          </div>
          <button type="button" class="products-price-btn button">
            50 UAH
          </button>
        </div>
        <div class="swiper-slide">
          <picture class="products-image">
            <source
              srcset="
                ./images/our-products/lime-salt-min.jpg    1x,
                ./images/our-products/lime-salt@2x-min.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/our-products/lime-salt.webp    1x,
                ./images/our-products/lime-salt@2x.webp 2x
              "
              type="image/webp"
            />
            <img
              src="./images/our-products/lime-salt-min.jpg"
              alt="LIME&SEA SALT"
              width="230"
              height="201"
            />
          </picture>
          <div class="products-content">
            <h3 class="products-subtitle">LIME&SEA SALT</h3>
            <p class="products-text">Dark chocolate</p>
          </div>
          <button type="button" class="products-price-btn button">
            66 UAH
          </button>
        </div>
        <div class="swiper-slide">
          <picture class="products-image">
            <source
              srcset="
                ./images/our-products/pineapple-min.jpg    1x,
                ./images/our-products/pineapple@2x-min.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/our-products/pineapple.webp    1x,
                ./images/our-products/pineapple@2x.webp 2x
              "
              type="image/webp"
            />
            <img
              src="./images/our-products/pineapple-min.jpg"
              alt="PINEAPPLE"
              width="230"
              height="201"
            />
          </picture>
          <div class="products-content">
            <h3 class="products-subtitle">PINEAPPLE</h3>
            <p class="products-text">Dark chocolate</p>
          </div>
          <button type="button" class="products-price-btn button">
            54 UAH
          </button>
        </div>
        <div class="swiper-slide">
          <picture class="products-image">
            <source
              srcset="
                ./images/our-products/classic-min.jpg    1x,
                ./images/our-products/classic@2x-min.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/our-products/classic.webp    1x,
                ./images/our-products/classic@2x.webp 2x
              "
              type="image/webp"
            />
            <img
              src="./images/our-products/classic-min.jpg"
              alt="CLASSIC"
              width="230"
              height="201"
            />
          </picture>
          <div class="products-content">
            <h3 class="products-subtitle">CLASSIC</h3>
            <p class="products-text">Milk chocolate</p>
          </div>
          <button type="button" class="products-price-btn button">
            45 UAH
          </button>
        </div>
        <div class="swiper-slide">
          <picture class="products-image">
            <source
              srcset="
                ./images/our-products/honey-min.jpg    1x,
                ./images/our-products/honey@2x-min.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/our-products/honey.webp    1x,
                ./images/our-products/honey@2x.webp 2x
              "
              type="image/webp"
            />
            <img
              src="./images/our-products/honey-min.jpg"
              alt="HONEY"
              width="230"
              height="201"
            />
          </picture>
          <div class="products-content">
            <h3 class="products-subtitle">HONEY</h3>
            <p class="products-text">Milk chocolate</p>
          </div>
          <button type="button" class="products-price-btn button">
            50 UAH
          </button>
        </div>
        <div class="swiper-slide">
          <picture class="products-image">
            <source
              srcset="
                ./images/our-products/roasted-fruits-min.jpg    1x,
                ./images/our-products/roasted-fruits@2x-min.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/our-products/roasted-fruits.webp    1x,
                ./images/our-products/roasted-fruits@2x.webp 2x
              "
              type="image/webp"
            />
            <img
              src="./images/our-products/roasted-fruits-min.jpg"
              alt="ROASTED FRUITS"
              width="230"
              height="201"
            />
          </picture>
          <div class="products-content">
            <h3 class="products-subtitle">ROASTED FRUITS</h3>
            <p class="products-text">Dark chocolate</p>
          </div>
          <button type="button" class="products-price-btn button">
            66 UAH
          </button>
        </div>
        <div class="swiper-slide">
          <picture class="products-image">
            <source
              srcset="
                ./images/our-products/classic-white-min.jpg    1x,
                ./images/our-products/classic-white@2x-min.jpg 2x
              "
              type="image/jpeg"
            />
            <source
              srcset="
                ./images/our-products/classic-white.webp    1x,
                ./images/our-products/classic-white@2x.webp 2x
              "
              type="image/webp"
            />
            <img
              src="./images/our-products/classic-white-min.jpg"
              alt="CLASSIC WHITE"
              width="230"
              height="201"
            />
          </picture>
          <div class="products-content">
            <h3 class="products-subtitle">CLASSIC</h3>
            <p class="products-text">White chocolate</p>
          </div>
          <button type="button" class="products-price-btn button">
            54 UAH
          </button>
        </div>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  </div>
</section>
<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
