
<section class="reviews-section" id="chocolate">
  <div class="container">
    <h2 class="reviews-h">
      <span class="review-span">CHOCOLATE</span> IS LOVED
    </h2>
    <ul class="review-list">
      <li class="review-li">
        <img
          class="img-review"
          srcset="
            ./images/Rewiews/victoria.webp    1x,
            ./images/Rewiews/victoria@2x.webp 2x
          "
          src="./images/Rewiews/victoria.webp"
          alt=""
        />
        <h3 class="review-title">Victoria Dobrzhanska</h3>
        <p class="review-p">
          I love this chocolate bar. Perfect combination of light crispy wafer,
          covered in a thin layer chocolate.
        </p>
      </li>
      <li class="review-li two">
        <img
          class="img-review"
          srcset="
            ./images/Rewiews/nazar.webp    1x,
            ./images/Rewiews/nazar@2x.webp 2x
          "
          src="./images/Rewiews/nazar.webp"
          alt=""
        />
        <h3 class="review-title">Nazar Babenko</h3>
        <p class="review-p">
          This chocolate confection is a delight! A delight! The wafer is light
          and crisp, the hazelnut cream is smooth, and the chocolate is good.
        </p>
      </li>
      <li class="review-li last">
        <img
          class="img-review"
          srcset="
            ./images/Rewiews/olena.webp    1x,
            ./images/Rewiews/olena@2x.webp 2x
          "
          src="./images/Rewiews/olena.webp"
          alt=""
        />
        <h3 class="review-title">Olena Kampusch</h3>
        <p class="review-p">
          Chocolate is a family favourite treat. Love the delicious smooth
          chocolate and the creaminess inside. The wafer is soft but crunchy.
        </p>
      </li>
    </ul>
 <div class="banner-review-button">
  <svg class="review-banner">
    <use href="./images/sprite.svg#icon-offer-banner"></use>
  </svg>
 </div>
    <button class="button-review" data-modal-open-review type="button">
      Leave a review
    </button>
  </div>
</section>
