<section class="topsellers" id="sellers">
  <div class="container">
    <h2 class="topsellers-title"><span class="top">Top</span> Sellers</h2>
    <ul class="top-image list">
      <li class="top-image-item">
        <picture>
          <source
            srcset="
              ./images/JPEG/topsellers-one-mobile.jpg    1x,
              ./images/JPEG/topsellers-one-mobile@2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <source
            srcset="
              ./images/JPEG/topsellers-one-tablet.jpg    1x,
              ./images/JPEG/topsellers-one-tablet-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/JPEG/topsellers-one.jpg    1x,
              ./images/JPEG/topsellers-one@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <img
            class="top-img"
            src="./images/JPEG/topsellers-one.jpg"
            alt="dark chocolate"
          />
        </picture>
        <p class="top-sellers-content">
          Crazy enough chocolate originates from a bean just like the coffee
          bean called Cacao. Cacao has been around for thousands of years and
          was first discovered by the Native American tribe called the Mayans.
        </p>
      </li>
      <li class="top-image-item">
        <picture>
          <source
            srcset="
              ./images/JPEG/topsellers-two-mobile.jpg    1x,
              ./images/JPEG/topsellers-two-mobile@2x.jpg 2x
            "
            media="(min-width:320px)"
          />
          <source
            srcset="
              ./images/JPEG/topsellers-two-tablet.jpg    1x,
              ./images/JPEG/topsellers-two-tablet-2x.jpg 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/JPEG/topsellers-two-desktop.jpg    1x,
              ./images/JPEG/topsellers-two-desktop@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <img
            class="top-img"
            src="./images/JPEG/topsellers-two-desktop.jpg"
            alt="white and milk chocolate"
          />
        </picture>
      </li>
      <li class="top-image-item-desktop">
        <picture>
          <source
            srcset="
              ./images/JPEG/topsellers-three-desktop.jpg    1x,
              ./images/JPEG/topsellers-three-desktop@2x.jpg 2x
            "
            media="(min-width:1200px)"
          />
          <img
            class="top-img-desktop"
            src="./images/JPEG/topsellers-three-desktop.jpg"
            alt="chocolate bar"
          />
        </picture>
      </li>
    </ul>
    <div class="topsellers-desc">
      <p class="top-sellers-content-desktop">
        Crazy enough chocolate originates from a bean just like the coffee bean
        called Cacao. Cacao has been around for thousands of years and was first
        discovered by the Native American tribe called the Mayans.
      </p>
      <button class="btn-buy-now" type="button" data-modal-open-buynowsecond>
        Buy now
      </button>
    </div>
  </div>
</section>
