.subscribe-section {
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}
@media screen and (max-width: 374px) {
  .subscribe-section {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(../images/JPEG/Subcribe-mobile.jpg);
    padding-top: 62px;
    padding-bottom: 63px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subscribe-section {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2)
        ),
        url(../images/JPEG/Subcribe-mobile@2x.jpg);
    }
  }
  .subscribe-title {
    max-width: 291px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
  .subscribe-button {
    padding: 12px 28px;
    width: 128px;
    height: 41px;
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (min-width: 375px) {
  .subscribe-section {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(../images/JPEG/Subcribe-mobile.jpg);
    padding-top: 62px;
    padding-bottom: 63px;
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subscribe-section {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2)
        ),
        url(../images/JPEG/Subcribe-mobile@2x.jpg);
    }
  }
  .subscribe-title {
    max-width: 291px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
  .subscribe-button {
    padding: 12px 28px;
    width: 128px;
    height: 41px;
    font-size: 14px;
    line-height: 17px;
  }
}
@media screen and (min-width: 768px) {
  .subscribe-section {
    padding-top: 72px;
    padding-bottom: 72px;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(../images/JPEG/Subcribe-tablet.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subscribe-section {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2)
        ),
        url(../images/JPEG/Subcribe-tablet@2x.jpg);
    }
  }

  .subscribe-block {
    max-width: 467px;
  }
  .subscribe-title {
    width: 378px;
    font-size: 24px;
    line-height: 28px;
  }
  .subscribe-button {
    padding: 14px 40px;
    width: 172px;
    height: 50px;
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-section {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      ),
      url(../images/JPEG/Subcribe-desktop.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .subscribe-section {
      background-image: linear-gradient(
          0deg,
          rgba(0, 0, 0, 0.2),
          rgba(0, 0, 0, 0.2)
        ),
        url(../images/JPEG/Subcribe-desktop@2x.jpg);
    }
  }
}
.subscribe-block {
  display: flex;
  /*max-width: 467px;*/
  flex-direction: column;
  gap: 24px;

  align-items: center;
  margin: 0 auto;
}

.subscribe-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: -0.02em;

  color: #ffffff;
}
.subscribe-button {
  border: none;
  background: var(--main-site-color);
  border-radius: 100px;
  font-weight: 600;
  color: #ffffff;
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #fcf1e0;
  color: var(--main-site-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
